.sidebar {
    flex: 0.15;
    margin-top: 5rem;
    
}

.sidebar>hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin: 10px 16px;
}

.text-link{
    text-decoration: none;
}